[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/colors/start/neodark"]
	path = vim/pack/colors/start/neodark
	url = https://github.com/KeitaNakamura/neodark.vim.git
[submodule "vim/pack/colors/start/onedark"]
	path = vim/pack/colors/start/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/pack/colors/start/vim-one"]
	path = vim/pack/colors/start/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "vim/pack/plugins/start/vim-indent-guides"]
	path = vim/pack/plugins/start/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
