[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/colors/start/neodark"]
	path = vim/pack/colors/start/neodark
	url = https://github.com/KeitaNakamura/neodark.vim
[submodule "vim/pack/colors/start/onedark"]
	path = vim/pack/colors/start/onedark
	url = https://github.com/joshdick/onedark.vim
[submodule "vim/pack/colors/start/vim-one"]
	path = vim/pack/colors/start/vim-one
	url = https://github.com/rakr/vim-one
[submodule "vim/pack/plugins/start/vim-indent-guides"]
	path = vim/pack/plugins/start/vim-indent-guides
	url = https://github.com.nathanaelkane/vim-indent-guides
[submodule "vim/pack/colors/start/dracula"]
	path = vim/pack/colors/start/dracula
	url = https://github.com/dracula/vim
[submodule "vim/pack/plugins/start/vim-terraform"]
	path = vim/pack/plugins/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
